.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
  /* background-color: black; */
}
.app__body {
  display: flex;
  margin-top: -30px;
  width: 90vw;
  height: 92vh;

  background-color: #ededed;
  /* box shadow */
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
}
