.sidebarChat {
  display: flex;
  padding: 18px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  /* background-color: ; */
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 15px;
}
.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 7.5px;
}
